<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/style.css">
    <title>Wikipedia Viewer</title>
</head>

<body>
<div class="container outer" id="main">
    <div class="middle">
        <div class="inner">
            <div class="row">
                <div class="col-lg-4 col-lg-offset-4 col-md-6 col-md-offset-3">
                    <img src="img/logo.svg" alt="W">
                    <input type="text" class="form-control input-lg" v-model="input">
                    <div class="buttons">
                        <button class="btn btn-default btn-lg" type="button" v-on:click="submitRequest">Search</button>
                        <button class="btn btn-default btn-lg" type="button">Random</button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div>
                    <wiki-page v-for="page in pageData" v-bind:page="page"></wiki-page>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<script type="text/javascript" src="js/main.js"></script>
</body>
</html>